@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Nanum+Pen+Script&display=swap');
@font-face{
    src:url("./Pretendard-1.3.9/web/static/woff/Pretendard-Medium.woff");
    font-family : "pretendard";
}

header {
    margin-top: 50px;
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu {
    display: inline-block;
    position: relative;
    padding: 10px 30px;


}

.submenu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 100px;
    font-size: 17px;


}

.submenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;

}

.submenu a:hover {
    background-color: #f1f1f1;
}

.menu:hover .submenu {
    display: block;
}

a {
    color: #000;
    text-decoration: none;
    background: none;
}

.Tmenu {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 400;
    /*font-family: 'Nanum Pen Script', cursive;*/
    font-family: "pretendard";
}



.nRight {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    font-family: 'Nanum Myeongjo', serif;
    margin: 20px;
}

.order {
    position: relative;
    font-size: 20px;
    font-weight: 700;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    height: auto;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

}

.slides.animate {
    animation: slideAnimation 7s infinite alternate;
    /* 3초 간격으로 반복되는 애니메이션 */
}


.title {
    text-align: center;
    font-size: 23px;
    font-family: "pretendard";
    font-weight: 400;
}


.goods {
    display: flex;
    justify-content: space-around;
    margin: 80px 200px;
  
}

.image {
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    border-radius: 60px;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.2);
    /* 확대 효과 */
}

.knit {
    padding: 20px 30px;

}

.text {
    font-size: 15px;
    font-weight: 800;
}

.sale {
    font-size: 15px;
    font-weight: 800;
    color: red;
}

.goodsA-2,
.goodsB-2 {
    display: flex;
    flex-direction: row;

}

iframe {
    margin: 0px 10px;
}




/*order*/

.orderT {
    font-size: 30px;
    /*font-family: 'Nanum Pen Script', cursive;*/
    font-weight: 400;
    font-family: "pretendard";
}

.table1 {
    position: relative;
    left: 200px;
    margin-bottom: 70px;
    font-family: "pretendard";
}

.table2 {
    position: relative;
    left: 200px;
    margin-bottom: 70px;
    font-family: "pretendard";
}

td {
    padding: 10px;
    /* 셀 안의 내용과 경계 사이의 간격 설정 */
    text-align: left;
    /* 텍스트 왼쪽 정렬 */
    border-bottom: 1px solid gray;
}

input[type="submit"] {
    /*font-family: 'Nanum Pen Script', cursive;*/
    font-family: "pretendard";
    font-size: 15px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}




footer {
    display: block;
    margin-top: 80px;
    text-align: center;
    width: 100%;
    bottom: 0%;
    /*font-family: 'Nanum Pen Script', cursive;*/
    font-family: "pretendard";
    font-size: 20px;
}